<div class="landing-page">
    <header class="navbar">
        <div class="logo">
            <!-- <span>Shortify.NET</span> -->
            <img alt="Shortify.NET">
        </div>
        <nav>
            <ul>
                <li><a href="#">Platform</a></li>
                <li><a href="#">Solutions</a></li>
                <li><a href="#">Resources</a></li>
            </ul>
        </nav>
        <div class="auth-buttons">
            <button class="btn-link" (click)="navigateToSignIn()">Log in</button>
            <button class="btn-signup" (click)="navigateToSignUp()">Sign up Free</button>
        </div>
    </header>

    <section class="main-content">
        <div class="hero-text">
            <h1>Connect Your Audience with Simplicity</h1>
            <p>
                With Shortify.NET, easily create short links and track your 
                digital engagement. Simplify how you share and interact online, 
                all within the Shortify.NET platform.
            </p>
        </div>

        <!-- <div class="actions">
            <button class="btn-action">Short link</button>
            <button class="btn-action">QR Code</button>
        </div> -->

        <div class="shorten-link-card">
            <h2>Shorten a long link for free</h2>
            <input type="text" placeholder="Paste your long link here" />
            <button class="btn-get-link">Get your link for free</button>
        </div>

        <footer class="free-plan-info">
            <p>Sign up for free. Your free plan includes: 10 short links/month & Unlimited link clicks</p>
        </footer>
    </section>
</div>