<div class="forgot-password-page">
    <header class="navbar">
        <div class="logo" (click)="navigateToLanding()">
            <!-- <span>Shortify.NET</span> -->
            <img alt="Shortify.NET">
        </div>
    </header>
    <div class="forgot-password-container" *ngIf="!passwordResetSuccess">
        <h2>Reset Your Password</h2>

        <!-- Step 1: Email Input for Sending OTP -->
        <div *ngIf="!otpSent && !otpVerified">
            <div class="input-group">
                <label for="email">Email</label>
                <input type="email" id="email" placeholder="Enter your email" [(ngModel)]="email" required />
            </div>
            <button class="send-otp-button" (click)="sendOTP()">Send OTP</button>
        </div>

        <!-- Step 2: OTP Input for Verification -->
        <div *ngIf="otpSent && !otpVerified">
            <div class="input-group">
                <label for="otp">Enter OTP</label>
                <input type="text" id="otp" placeholder="Enter the OTP sent to your email" [(ngModel)]="otp" required />
            </div>
            <button class="verify-otp-button" (click)="verifyOTP()">Verify OTP</button>

            <!-- Timer for Resend OTP -->
            <div class="otp-timer" *ngIf="resendTimer > 0">
                Resend available in {{ resendTimer }} seconds
            </div>
            <button *ngIf="resendTimer <= 0" (click)="sendOTP()" class="resend-otp-button">Resend OTP</button>
        </div>

        <!-- Step 3: New Password Input -->
        <div *ngIf="otpVerified">
            <div class="input-group">
                <label for="newPassword">New Password</label>
                <input type="password" id="newPassword" placeholder="Enter new password" [(ngModel)]="newPassword"
                    required />
            </div>

            <div class="input-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" id="confirmPassword" placeholder="Confirm your new password"
                    [(ngModel)]="confirmPassword" required />
            </div>

            <button class="reset-password-button" (click)="resetPassword()">Reset Password</button>
        </div>
    </div>

    <!-- Success Message -->
    <div class="reset-success-page" *ngIf="passwordResetSuccess">
        <h2>Password Reset Successfully</h2>
        <p>You will be redirected to the login page in 10 seconds.</p>
        <p>If you are not redirected automatically, <a (click)="navigateToSignIn()">click here</a>.</p>
    </div>
</div>