@import '../../../styles.scss';

.forgot-password-page {
    background-color: $background-color;
    color: $secondary-color;
    min-height: 100vh;

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 3rem;
        color: $background-color;
        background-color: $secondary-color;

        .logo {
            cursor: pointer;

            img {
                content: url($logo);
                max-height: 8vh;
            }
        }
    }

    .forgot-password-container {
        max-width: 40vw;
        margin: 10vh auto;
        padding: 2rem;
        background-color: $card-background-color;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

        h2 {
            text-align: center;
            font-family: 'ShortifyFont', sans-serif;
            font-size: 1.5rem;
            color: $text-color;
            font-weight: 800;
        }

        .input-group {
            margin-bottom: 1rem;
    
            label {
                display: block;
                font-weight: bold;
                margin-bottom: 0.5rem;
            }
    
            input {
                width: 95%;
                padding: 0.8rem;
                font-size: 1rem;
                border: 1px solid #ccc;
                border-radius: 5px;
            }
        }

        .send-otp-button,
        .verify-otp-button,
        .resend-otp-button,
        .reset-password-button {
            width: 100%;
            padding: 0.8rem;
            font-size: 1rem;
            background-color: $accent-color;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-bottom: 1rem;

            &:hover {
                background-color: darken($accent-hover-color, 10%);
            }
        }

        .otp-timer {
            font-size: 0.9rem;
            color: #888;
            margin-bottom: 1rem;
            text-align: center;
        }
    }

    .reset-success-page {
        max-width: 40vw;
        margin: 10vh auto;
        padding: 2rem;
        background-color: $card-background-color;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    
        h2 {
            color: $text-color;
            margin-bottom: 1rem;
            font-weight: 800;
    
            span {
                color: $accent-color;
            }
        }
    
        p {
            margin: 0.5rem 0;
            font-size: 1rem;
            color: $text-color;
    
            a {
                color: $primary-color;
                cursor: pointer;
                text-decoration: underline;
    
                &:hover {
                    color: darken($primary-color, 10%);
                }
            }
        }
    }
}