@import '../../../styles.scss';

.login-page {
    background-color: $background-color;
    color: $secondary-color;

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 3rem;
        color: $background-color;
        background-color: $secondary-color;

        .logo {
            //font-size: 2rem;
            //font-weight: 800;
            cursor: pointer;

            img {
                content: url($logo);
                max-height: 8vh;
            }
        }
    }
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    background-color: $background-color;



    .login-box {
        background-color: $card-background-color;
        padding: 2rem;
        border-radius: 8px;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
        max-width: 40vw;
        width: 100%;
        text-align: center;

        .login-heading {
            font-family: 'ShortifyFont', sans-serif;
            font-size: 1.5rem;
            color: $text-color;
            font-weight: 800;
            margin-bottom: 1.5rem;
        }

        .login-form {
            display: flex;
            flex-direction: column;

            .input-group {
                margin-bottom: 1rem;
                text-align: left;

                label {
                    font-family: 'ShortifyFont', sans-serif;
                    color: $text-color;
                    margin-bottom: 0.5rem;
                    display: block;
                }

                input {
                    width: 94%;
                    padding: 0.8rem;
                    border: 1px solid $secondary-color;
                    border-radius: 6px;
                    background-color: $card-background-color;
                    font-family: 'ShortifyFont', sans-serif;
                    font-size: 1rem;

                    &:focus {
                        outline: none;
                        border-color: $primary-color;
                        box-shadow: 0 0 0 2px rgba(0, 86, 255, 0.2);
                    }
                }

                .password-wrapper {
                    position: relative;

                    .toggle-password {
                        background: none;
                        border: none;
                        position: absolute;
                        right: 10px;
                        top: 50%;
                        transform: translateY(-50%);
                        cursor: pointer;

                        .password-icon {
                            font-size: 1.2rem;
                            color: $text-color;

                            &:hover {
                                color: $primary-color;
                            }
                        }
                    }
                }
            }

            .additional-options {
                display: flex;
                justify-content: space-between;
                margin-bottom: 1.5rem;

                a {
                    font-family: 'ShortifyFont', sans-serif;
                    color: $primary-color;
                    font-size: 0.9rem;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .login-button {
                background-color: $accent-color;
                color: white;
                font-family: 'ShortifyFont', sans-serif;
                font-weight: 600;
                padding: 0.8rem;
                font-size: 1.1rem;
                border: none;
                border-radius: 6px;
                cursor: pointer;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: darken($accent-hover-color, 10%);
                }
            }
        }

        .signup-option {
            margin-top: 1.5rem;

            p {
                font-family: 'ShortifyFont', sans-serif;
                color: $text-color;
                font-size: 0.9rem;
            }

            .signup-link {
                color: $primary-color;
                text-decoration: none;
                font-weight: 600;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}