<div class="sidebar">
    <button class="create-new">Create New</button>
    <nav>
        <ul>
            <li><a routerLink="/dashboard/home" routerLinkActive="active"><i class="icon-home"></i> Home</a></li>
            <li><a routerLink="/dashboard/links" routerLinkActive="active"><i class="icon-links"></i> Links</a></li>
            <li><a routerLink="/dashboard/qr-codes" routerLinkActive="active"><i class="icon-qr"></i> QR Codes</a></li>
            <li><a routerLink="/dashboard/analytics" routerLinkActive="active"><i class="icon-analytics"></i>
                    Analytics</a></li>
            <li><a routerLink="/dashboard/settings" routerLinkActive="active"><i class="icon-settings"></i> Settings</a>
            </li>
        </ul>
    </nav>
</div>